@model IEnumerable<Peliculas.Web.Models.PeliculasModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombrePelicula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisponiblesAlquiler)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisponiblesVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioAlquiler)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioVenta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePelicula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisponiblesAlquiler)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisponiblesVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioAlquiler)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioVenta)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
